{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block pageScripts %}
<script type="text/javascript" src="assets/js/accessible-autocomplete.min.js"></script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="assessing-candidates-2">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading">
          What behaviours do you want to assess?
        </h1>
      </legend>
      <span id="location-hint" class="govuk-hint">
        Select all that apply
      </span>
      <div class="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location" name="location" type="checkbox" value="London">
          <label class="govuk-label govuk-checkboxes__label" for="location">
          Seeing the big picture
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-2" name="location" type="checkbox" value="Birkenhead">
          <label class="govuk-label govuk-checkboxes__label" for="location-2">
            Changing and improving
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-3" name="location" type="checkbox" value="Birmingham">
          <label class="govuk-label govuk-checkboxes__label" for="location-3">
            Making effective decisions
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
          Leadership
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
          Communicating and influencing
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
        Working together
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
          Developing self and others
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
          Managing a quality service
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="location-4" name="location" type="checkbox" value="Bristol">
          <label class="govuk-label govuk-checkboxes__label" for="location-4">
          Delivering at pace
          </label>
        </div>


    </fieldset>
  </div>



<form class="form" action="application-form-questions" method="post">
<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>


    </div>
  </div>

{% endblock %}
